use flake
layout python

export PG_HOST=localhost
export PG_PORT=5432
export PG_USER=postgres
export PG_PASSWORD=mysecretpassword
export PG_DATABASE=recommendations
export OPA_URL=http://localhost:8181